* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: #FDF6F5;
    
}
/*======================================================*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #c5138a;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
}
h1{
    margin: 0;
    padding: 0;
    display: flex;
}
#main-cart{
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: aqua;
}

#cart-container{
    display: flex;
    flex-direction: row;
    background-color: #ec2000;
    width: 100%;
    height: 100%;
}


#cart-aside{
    display: flex;
    background-color: #c0f10d;
    padding: 1.2rem;
    width: 30%;
    height: fit-content;
    min-width: 300px;
    align-self: flex-start
}

#cart-list{
    width: 70%;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #13be6f;
    padding: 1.5rem;
    margin: 0;
    gap: 2rem;
    flex: 1; 
}

.cart-product-info{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.cart-product-info img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/*==================================================*/
footer{
    background: #b91e1e;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}