/*Margen y padding al 0 de todo (body y el html)*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*estilos del body (el div con)*/
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000e0;
    background-attachment: fixed;
    background-size: cover;
}

main {
    background-color: #282828;
    height: 430px;
    width: 320px;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.5);
}

.inicio_usuario {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#titulo {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
}

label {
    color: #c0c0c0;
    font-size: 17px;
    font-weight: bold;   
    align-self: flex-start;
    padding-top:20px;
}

input {
    width: 100%;
    padding: 10px;
    background-color: #f7caf8;
    border: 1px solid #000;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.856);
    font-size: 16px;
}

input:focus {
    outline: none;
    border: 1px solid #bc12ff;
}

button {
    margin-top: 16px;
    padding: 14px 32px;
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 500px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.04);
    justify-content: center;
}

#id_usuario {
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    
}

#boton-enviar {
    border: none;
    background-color: #b13bff;
    color: white;
    padding: 10px 25px;
    border-radius: 7px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif
}

/*seguir estilizando la pag pq no queda como quiero pero llevo mucho tiempo sentado (idea log in estilo columnas como spotify)*/
/*odio css*/